html{
    font-family: "Pinyon Script"
}

header{
    height: 100px;
    background: black;
    padding: 14px 2em;
}

.logo, .search{
    height: 72px;
    background-color: aqua;
}

.logo{
    width: 15%;
    float: left
}

.search{
    width: 20%;
    float: right;
}
